section {
  height: auto;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

nav {
  padding: 0.3 1rem !important;
}

section:nth-child(odd) {
  background: #f1f1f1;
}

@media screen and (max-width: 516px) {
  .navbar {
    justify-content: flex-end;
  }
  .navbar button {
    border: none;
  }
}
body {
  overflow-x: hidden;
}

[class^=flaticon-]:before,
[class*=" flaticon-"]:before,
[class^=flaticon-]:after,
[class*=" flaticon-"]:after {
  font-size: 30px;
}

html,
body {
  overflow-x: hidden;
}

body {
  position: relative;
}

.colorGrey {
  color: grey;
}

h1,
h2 {
  font-weight: bolder;
}

.footerText {
  color: grey;
}

.card {
  border: none;
}

.shadow {
  -moz-box-shadow: inset 0 0 1px #000000;
  -webkit-box-shadow: inset 0 0 1px #000000;
  box-shadow: inset 0 0 1px #000000;
}

.sectionOneImg img {
  width: 113%;
  margin-top: 1rem;
  margin-left: 3rem;
}

.sectionOneText {
  display: flex;
  justify-content: center;
}
.sectionOneText .capsula1left {
  width: 65%;
  margin-top: 24%;
  margin-left: 6rem;
}
.sectionOneText .capsula1left .header1 {
  font-weight: bold;
  line-height: 1em;
  font-size: 55px;
}
.sectionOneText .capsula1left .header2 {
  margin-top: 10px;
}
.sectionOneText .capsula1left button {
  border: none;
  padding: 0.7em 2.2em;
  background: #53c2ac;
  border-radius: 2em;
  color: white;
  margin-top: 5%;
}

.greenDot {
  color: #53c2ac;
}

.section1 .brandTitle {
  text-align: center;
}

@media screen and (max-width: 480px) {
  .sectionOneText .capsula1left {
    width: 100%;
    margin-top: 8%;
    margin-left: 0px;
  }
  .sectionOneText .header1 {
    font-size: 28px !important;
  }

  .section1 .brandTitle {
    text-align: start;
  }
  .section1 .mainTitleRow {
    position: relative;
    top: -25px;
  }

  .navbar {
    position: absolute;
    right: 0;
  }
}
@media screen and (min-width: 481px) {
  .lineBreaker::before {
    content: "\a";
    white-space: pre;
  }
}
.SectionTwo {
  height: auto;
}
.SectionTwo .mainTitleRow {
  padding: 2.5em;
}
.SectionTwo .mainTitleRow h2 {
  font-weight: bold;
}
.SectionTwo .featuresWrapper {
  width: 80%;
  background: red;
  text-align: -webkit-center;
}
.SectionTwo .row {
  justify-content: center;
}
.SectionTwo .row div {
  text-align: -webkit-center;
}
.SectionTwo .card {
  width: 90%;
  margin-top: 13px;
  margin-bottom: 13px;
}
.SectionTwo .card .card-body a {
  color: #53c2ac;
}
.SectionTwo .card .flaticonWrapper {
  width: 3em;
  height: 3em;
  background: #53c2ac;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.SectionTwo .card .flaticon {
  margin-top: -2px;
  margin-right: 19px;
}

.sectionThree .row .title {
  margin-top: 2rem;
}
.sectionThree .row .title h2 {
  margin-right: 5em;
}
.sectionThree .row .leftCol {
  margin-top: 0.1rem;
}
.sectionThree .row .leftCol img {
  max-width: 95%;
  height: auto;
  margin-left: 9rem;
}
.sectionThree .row .rightCol {
  margin-top: 1rem;
}
.sectionThree .row .rightCol h1 {
  margin-left: 7rem;
}
.sectionThree .row .rightCol .rightcolContentWrapper {
  margin-top: 3rem;
  margin-left: 7rem;
  width: 60%;
}
.sectionThree .row .rightCol h2 {
  font-weight: bolder;
}
.sectionThree .row .rightCol h5 {
  text-align: left;
}
.sectionThree .row .rightCol .descrptn {
  color: grey;
}
.sectionThree .row .rightCol .card {
  width: 100%;
  padding: 1rem;
}
.sectionThree .row .rightCol .card .descOfMediaObj {
  color: grey;
}
.sectionThree .row .rightCol img {
  width: 60px;
}

@media screen and (max-width: 575px) {
  .sectionThree .row .rightCol .rightcolContentWrapper {
    margin-top: 0.3em;
    margin-left: 1em;
  }
  .sectionThree .row .rightCol .rightcolContentWrapper .card {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
  }

  .sectionThree .row .title {
    text-align: left;
    margin-left: 8rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }

  .sectionThree .row .rightCol .rightcolContentWrapper {
    margin-left: 2rem;
    width: 80%;
  }
  .sectionThree .row .rightCol .rightcolContentWrapper p {
    text-align: justify;
  }

  .sectionThree .row .rightCol {
    margin-top: -2rem;
    text-align: -webkit-center;
    text-align: right;
  }

  .sectionThree .row .leftCol img {
    margin-top: 0rem;
    margin-left: 0rem;
  }
}
.sectionFour .mainTitleRow {
  padding: 1.5em;
}
.sectionFour .mainTitleRow h1 {
  font-weight: bold;
}
.sectionFour .imageRow {
  margin-top: 1.2em;
}
.sectionFour .imageRow .leftCol img {
  max-width: 67%;
  height: auto;
  border-radius: 3px;
  margin-left: 10rem;
}
.sectionFour .rightCol {
  margin-left: 1rem;
  width: 70%;
}
.sectionFour .rightCol h2 {
  font-weight: bold;
  line-height: 1em;
  margin-bottom: 2rem;
}
.sectionFour .rightCol .desc {
  color: grey;
}
.sectionFour .rightCol button {
  border: none;
  padding: 0.7em 2.1em;
  background: #53c2ac;
  border-radius: 2em;
  color: white;
  margin-top: 0.5rem;
}

@media screen and (max-width: 575px) {
  .sectionFour .mainTitleRow {
    padding: 1rem;
  }

  .sectionFour .rightCol {
    margin-top: 4.2rem;
  }

  .sectionFour .imageRow .leftCol {
    text-align: -webkit-center;
    text-align: center;
  }
  .sectionFour .imageRow .leftCol img {
    margin-left: 0px;
  }
  .sectionFour .imageRow .rightColWrapper {
    text-align: -webkit-center;
  }
}
.sectionFive .title_image {
  justify-content: center;
  margin-top: 4rem;
}
.sectionFive .title_image h1 {
  text-align: center;
}
.sectionFive .fetchDiv {
  text-align: center;
}
.sectionFive p:nth-of-type(1) {
  color: grey;
  font-size: 30px;
}
.sectionFive p:nth-of-type(2) {
  color: #000;
  font-weight: bold;
  font-size: 18px;
}

.people {
  width: 100px;
}

.carouselExampleControls {
  text-align: center;
}

@media screen and (max-width: 575px) {
  .sectionFive p:nth-of-type(1) {
    font-size: 16px;
    margin-top: 1.5rem;
  }
  .sectionFive .title_image {
    margin-top: 0rem;
    margin-bottom: 1rem;
  }
}
.sectionSix {
  padding-top: 0px;
  height: auto;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
  font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}
.sectionSix .title {
  text-align: center;
}
.sectionSix .formWrapper {
  max-width: 50%;
  width: 50%;
  margin: 0 auto;
}

#contact {
  padding: 2.5rem;
  background: #fff;
  margin-bottom: 2rem;
}
#contact input[type=text],
#contact input[type=email],
#contact input[type=tel],
#contact input[type=url],
#contact textarea {
  font-size: 14px;
  padding: 13px;
  width: 100%;
  border: 1px solid #ccc;
  background: #FFF;
  margin: 0 0 5px;
}
#contact button[type=submit] {
  border: none;
  padding: 0.7em 2.2em;
  background: #53c2ac;
  border-radius: 2em;
  color: white;
  margin-top: 5%;
}

#contact input[type=text]:hover,
#contact input[type=email]:hover,
#contact input[type=tel]:hover,
#contact input[type=url]:hover,
#contact textarea:hover {
  -webkit-transition: all 3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  border: 1px solid #aaa;
  background: #e3def2;
}

#contact textarea {
  height: 100px;
  max-width: 100%;
  resize: none;
}

#contact button[type=submit]:hover {
  background: #43A047;
  -webkit-transition: background 0.3s ease-in-out;
  -moz-transition: background 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out;
}

#contact button[type=submit]:active {
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.5);
}

.copyright {
  text-align: center;
}

#contact input:focus,
#contact textarea:focus {
  outline: 0;
  border: 1px solid #aaa;
}

::-webkit-input-placeholder {
  color: #888;
}

:-moz-placeholder {
  color: #888;
}

::-moz-placeholder {
  color: #888;
}

:-ms-input-placeholder {
  color: #888;
}

.titleSix {
  margin-top: 3rem;
  margin-bottom: 3rem;
}

@media screen and (max-width: 575px) {
  .sectionSix .formWrapper {
    max-width: 100%;
    width: 100%;
    margin: 0 auto;
  }
}

/*# sourceMappingURL=estilos.css.map */
