  section {
      height: auto;
      padding-top: 2rem;
      padding-bottom: 2rem;
  }
  
  nav {
      padding: .3 1rem !important;
  }
  
  section:nth-child(odd) {
      background: #f1f1f1;
  }
  
  @media screen and (max-width:516px) {
      .navbar {
          justify-content: flex-end;
          button {
              border: none;
          }
      }
  }
  
  body {
      overflow-x: hidden;
  }
  
  [class^="flaticon-"]:before,
  [class*=" flaticon-"]:before,
  [class^="flaticon-"]:after,
  [class*=" flaticon-"]:after {
      font-size: 30px;
  }
  
  html,
  body {
      overflow-x: hidden;
  }
  
  body {
      position: relative;
  }
  
  .colorGrey {
      color: grey;
      ;
  }
  
  h1,
  h2 {
      font-weight: bolder;
  }
  
  .footerText {
      color: grey;
  }
  
  .card {
      border: none;
  }
  
  .shadow1 {
      box-shadow: 1px 1px 5px lightgrey;
  }
  
  .changers {
      display: inline-flex;
      justify-content: center;
      align-items: center;
      font-size: 10px;
      border: none;
      width: 12px;
      height: 12px;
      margin-left: 4px;
      margin-right: 4px;
      border-radius: 50%;
      background-color: rgb(155, 229, 205);
  }
  
  .changersRow {
      justify-content: center;
  }