  section {
      height: 100vh;
  }
  
  nav:first-of-type {
      padding: .3 1rem !important;
  }
  
  section:nth-child(odd) {
      background: #f1f1f1;
  }
  
  @media screen and (max-width:812px) {
      section {
          height: auto;
          margin-bottom: 3rem;
      }
  }
  
  body {
      overflow-x: hidden;
  }
  
  [class^="flaticon-"]:before,
  [class*=" flaticon-"]:before,
  [class^="flaticon-"]:after,
  [class*=" flaticon-"]:after {
      font-size: 30px;
  }
  
  html,
  body {
      overflow-x: hidden;
  }
  
  body {
      position: relative;
  }
  
  .colorGrey {
      color: grey;
      ;
  }