.sectionThree {
    .row {
        .title {
            text-align: right;
            margin-top: 2rem;
            h2 {
                margin-right: 5em;
            }
        }
        .leftCol {
            margin-top: .1rem;
            img {
                max-width: 95%;
                height: auto;
                margin-top: -5rem;
                margin-left: 5rem;
            }
        }
        .rightCol {
            margin-top: 1rem;
            .rightcolContentWrapper {
                margin-top: 3rem;
                margin-left: 7rem;
                width: 60%;
            }
            h2 {
                font-weight: bolder;
            }
            .descrptn {
                color: grey;
            }
            .card {
                width: 100%;
                padding: 1rem;
                .descOfMediaObj {
                    color: grey;
                }
            }
            img {
                width: 60px;
            }
        }
    }
}

@media screen and (max-width:575px) {
    .sectionThree .row .rightCol .rightcolContentWrapper {
        margin-top: .3em;
        margin-left: 1em;
        .card {
            margin-top: 1.5rem;
            margin-bottom: 1.5rem;
        }
    }
    .sectionThree .row .title {
        text-align: left;
        margin-left: 8rem;
        margin-top: 1rem;
        margin-bottom: 1rem;
    }
    .sectionThree .row .rightCol .rightcolContentWrapper {
        margin-left: 2rem;
        width: 80%;
        p {
            text-align: justify;
        }
    }
    .sectionThree .row .rightCol {
        margin-top: -2rem;
        text-align: -webkit-center;
        text-align: right;
    }
    .sectionThree .row .leftCol img {
        margin-top: 0rem;
        margin-left: 0rem;
    }
}