.sectionFive {
    .title_image {
        justify-content: center;
        margin-top: 4rem;
        h1 {
            text-align: center;
        }
    }
    .fetchDiv {
        text-align: center;
    }
    p:nth-of-type(1) {
        color: grey;
        font-size: 30px;
    }
    p:nth-of-type(2) {
        color: #000;
        font-weight: bold;
        font-size: 18px;
    }
}

.people {
    width: 100px;
}

.carouselExampleControls {
    text-align: center
}

@media screen and (max-width:575px) {
    .sectionFive {
        p:nth-of-type(1) {
            font-size: 16px;
            margin-top: 1.5rem;
        }
        .title_image {
            margin-top: 0rem;
            margin-bottom: 1rem;
        }
    }
}