    .sectionOneImg {
        img {
            width: 100%;
            margin-top: 10%;
        }
    }
    
    .sectionOneText {
        display: flex;
        justify-content: center;
        .capsula1left {
            width: 70%;
            margin-top: 35%;
            .header1 {
                font-weight: bold;
                line-height: 1em;
            }
            .header2 {
                margin-top: 10px;
            }
            button {
                border: none;
                padding: .7em 2.2em;
                background: #53c2ac;
                border-radius: 2em;
                color: white;
                margin-top: 5%;
            }
        }
    }
    
    .greenDot {
        color: #53c2ac;
    }
    
    .section1 {
        .brandTitle {
            text-align: center;
        }
    }
    
    @media screen and (max-width: 480px) {
        .sectionOneText .capsula1left {
            width: 100%;
            margin-top: 8%;
        }
        .header1 {
            font-size: 29px;
        }
        .section1 {
            .brandTitle {
                text-align: start;
            }
            .mainTitleRow {
                position: relative;
                top: -25px;
            }
        }
        .navbar {
            position: absolute;
            right: 0;
        }
    }
    
    @media screen and (min-width: 481px) {
        .lineBreaker::before {
            content: '\A';
            white-space: pre;
        }
    }