.sectionFive {
    .title_image {
        justify-content: center;
        margin-top: 4rem;
        h1 {
            text-align: center;
        }
    }
    .fetchDiv {
        text-align: center;
    }
    p {
        color: grey;
        font-size: 30px;
    }
}

.people {
    width: 100px;
}

.carouselExampleControls {
    text-align: center
}