@import "mixins";
.SectionTwo {
    height: auto;
    .mainTitleRow {
        padding: 2.5em;
        h2 {
            font-weight: bold;
        }
    }
    .featuresWrapper {
        width: 80%;
        background: red;
        text-align: -webkit-center;
    }
    .row {
        justify-content: center;
        div {
            text-align: -webkit-center;
        }
    }
    .card {
        width: 90%;
        margin-top: 13px;
        margin-bottom: 13px;
        // &:hover {
        //      animation: jello 20s infinite alternate!;
        // }
        .card-body {
            a {
                color: #53c2ac;
            }
        }
        .flaticonWrapper {
            width: 3em;
            height: 3em;
            background: #53c2ac;
            border-radius: 50%;
            @include flexboxDoubleCenter;
        }
        .flaticon {
            margin-top: -2px;
            margin-right: 19px;
        }
    }
}